html {
	background: rgb(255, 255, 220);
	font-family: sans-serif;
}

p::selection {
	background-color: red;
	color: palegoldenrod;
}

h1 {
	border-bottom: 2px solid maroon;
}

h2 {
	color: maroon;
}

h2:hover {
	background-color: palegoldenrod;
}

h3 {
	color: rgb(64, 0, 0);
}

div.column {
	max-width: 50em;
	max-height: 92vh;
	overflow-y: auto;
	background-color: white;
	border: solid black;
	padding: 5px;
}